*{
	font-family: "微软雅黑";
	margin:0px;
	padding:0px;
}

.write_bg{
	float:top;
	background-color:#ffffff;
	height:1500px ;
}


.header_tiaotiao{
	height:20px;
	z-index:0;
	background-color: #042531;
	
}
.header_bg{
	background-color: #1a4d5f;
	height:218px;
	box-shadow:1px 0px 10px #053140
}



/*背景设置*/

body{
	margin: 0;
	padding:0;
	height: 100%;
	background-color:#00394d;
}
.wrapper {
	margin:auto;
	padding:auto;
	min-height:100%;
	height: auto ;
	margin-top:-198px;
	width:1100px;
	position: relative;
	z-index: 1;
}
.header{
	height:198px;
	background-color: #1a4d5f;
	width:100%;
}
#content_wrapper{
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 10px;
}
/*快速点到*/
.quick_point {
	color:#ffffff;
}
.quick_point h3{
	letter-spacing: 3px;
	font-size: 18px;
	font-weight: normal;
	padding-top:15px;
}
.quick_image span{
	font-size: 12px;
	letter-spacing:1px;
	display:block;
	float:left;
}
.quick_image img{
	padding-left:5px;
}
.nav_text span{
	width:99px;
}
.time_text span{
	width:206px;
	padding-top:10px;
	padding-left:5px;
}
.quick_image{
	padding-left:152px;
	padding-right:152px;
	padding-bottom:66px;
	margin-top:32px;
}
.quick_image a{
	background-color:#02d1b1;
	width:116px;
	height:32px;
	border-radius:5px;
	float:right;
	border:1px solid #033c50;
	margin-top:20px;
	letter-spacing: 3px;
	font-size: 18px;
	color:#ffffff;
	text-decoration:none;
	padding-top: 8px;
	padding-left: 30px;
}
.quick_image a:hover{
	border:1px solid #ffffff;
	box-shadow: 0px 0px 1px #ffffff
}
/*个人工时显示*/
.mytimes_bg{
	background-color:#e8e8e8;
	height: 35px;
    padding-top:10px;
	margin-top: 0px;
	box-shadow: 0px 0px 1px #ffffff;
	text-align: center;
	width:100%;
	position: fixed;
	bottom:0px;
	z-index: 0;
}
.mytimes_bg p{
	text-align: center;
}
.mytimes p{
	display:block;
	float:left;
	margin-bottom:16px;
	color:#012c3b;
}
.mytimes img{
	float:left;
}
/*通知设置*/
#notice{
	float:right;
	background-color:#032531;
	width:168px;
	height:36px;
}
#notice a{
	text-decoration: none;
	margin-top: 10px;
    margin-left: 25px;
    display: block;
    font-size:12px;
    color:#02d1b1;
    letter-spacing:2;
    box-shadow: 0px 0px 2px #053140;
}
#notice a:hover{
	color:#ffffff;
}
#notice a>img{
	padding-right: 10px;
	margin-top:-5px;
}
div.tittle{

	height:182px;
}
#title h1{
	font-size: 36px;
	color:#02d1b1;
	letter-spacing:3;
	font-weight:normal;
	padding-top:42px;
	padding-bottom:42px;
}
/*菜单设置*/
div#menu{
	margin-top:10px;
	margin-bottom:10px;
	position:absolute;
	left:0px;
	width:156px;
	height:44px;
	background-color:#02d1b1;
	box-shadow:0px 0px 5px #032e3d;
	z-index:9999;
}
#menu>a{
	text-decoration: none;
	font-size: 18px;
	padding-left: 28px;
	position:relative;
	top:12px;
	letter-spacing:3;
	color:#00394d;
}
#menu>a>img{
	padding-left:5px;
	opacity:1;
}
#menu>a>img:hover{
	opacity:0.4;
}
#menu>div>ul{
	display:none;
	box-shadow: 0px 0px 1px #876378
}
div.header div.setup{
	float:right;
	width:192px;
	font-size:12px;
	letter-spacing:1;
	color:#e6e7e7;
	margin-top: 10px;
}
div.header div.right a>img{
	margin-top:-8px;
    margin-right:10px;
}
div.header div.setup>div{
	width:128px;
	float:left;
}

div.header div.setup>div.left{
	width:64px;
	padding-top:10px;
    text-align:right;
}
div.header div.setup>div.right>a{
	float:right;
	display:block;
	margin-left:3px;
	padding-top:10px;
	opacity:0.8;
	text-decoration: none;
	color:white;
}
div.header div.setup>div.left>a{
	text-decoration: none;
	color:#e6e7e7;
	float:right;
    margin-bottom:5px;
    width:100%;
    text-align:right;
    font-size:20px;
}
div.header div.setup>div.right{
	float:right;
}
div.header div.setup>div.right>a:hover{
	opacity:1;
}
#systemMenu{
	list-style-type: none;
	background-color:white;
	color:#212121;
	margin-top:20px;
	float:left;
	padding-top:20px;
	padding-left:24px;
	padding-bottom:30;
	width:132px;
	letter-spacing:1px;	
	z-index:999999;
}
ul#systemMenu>li{
	margin-bottom:20px;
}
ul#systemMenu>li>ul{
	list-style-type: none;
}
ul#systemMenu>li>ul{
	font-size:14px;
	padding-top:15px;
	margin-top:-15px;
}
ul#systemMenu>li>ul>li{
	margin-top:13px;
	margin-left:24px;
}
#systemMenu>li>ul>li>a{
	text-decoration: none;
	color:#212121;
}
#systemMenu>li>ul>li>a:hover{
	border-bottom: 4px solid #02d1b1;
	margin-bottom: -4px;
	color:#02d1b1;
}
.time{
	list-style-image: url('./systemmenu/clockpen_grey.png');
}
.money{
	list-style-image: url('./systemmenu/moneypen_grey.png');
}
.home{
	list-style-image: url('./systemmenu/newshand.png');
}
.lay{
	list-style-image: url('./systemmenu/cup_grey.png');
}
.stime{
	list-style-image: url('./systemmenu/clockhand_grey.png');
}
.ssports{
	list-style-image: url('./systemmenu/newhand_grey.png');
}
.swork{
	list-style-image: url('./systemmenu/cuphandgrey.png');
}
.snews{
	list-style-image: url('./systemmenu/moneyhand_greyn.png');
}
.zmoney{
	list-style-image: url('./systemmenu/buy_grey.png');
}
.zborrow{
	list-style-image: url('./systemmenu/record_grey.png');
}
.zretron{
	list-style-image: url('./systemmenu/borrow_grey.png');
}
.mytime{
	list-style-image: url('./systemmenu/gtimes_grey.png');
}
.mysports{
	list-style-image: url('./systemmenu/gdtime_grey.png');
}
.mywork{
	list-style-image: url('./systemmenu/gwork_grey.png');
}
.mynews{
	list-style-image: url('./systemmenu/gnews_grey.png');
}

div.inner_content{
	background-color:white;
}
div.inner_content>div{
	float:left;
}
div.inner_content>div.left_content{
	width:915px;
}
div.inner_content>div.right_content{
	width:185px;
}
.rightgo{
	float:right;
	margin-top: -50px;
	opacity:0.4;
	filter:alpha(opacity=40); 
}
.leftgo{
	float:left;
	margin-top: -50px;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.rightgo:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
.leftgo:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
div.index-botton-container{
	width:1100px;
}
.index-button-box{
	width:248px;
	height:400px;
	margin-right:34px;
	float:left;
    margin-left:1px;
}
.index-common-button{
	float:left;
	height:114px;
	margin-right:10px;
	margin-bottom:10px;
	text-decoration:none;
	font-weight:normal;
	box-shadow: 0px 0px 2px #053140
}
a.index-common-button:hover{
	outline: #ffffff solid 1px;
	box-shadow: 0px 0px 10px #ffffff
}
.index-button-short{
	width:114px;
	float:left;
}
.index-button-long{
	width:238px;
	float:left;
}
.index-button-skyblue{
	background-color:#00c6ff;
}
.index-button-orange{
	background-color:#f28f02;
}
.index-button-lightgreen{
	background-color:#02d1b1;
}
.index-button-green{
	background-color:#85c727;
}
.index-button-red{
	background-color:#ec31e1;
}
.index-common-button span{
	display:block;
	margin-top:15px;
	margin-left:10px;
	color:#ffffff;
	font-size:14px;
	letter-spacing:1px;	
}
.index-button-box h3{
	color:#ffffff;
	padding-bottom:10px;
	letter-spacing:3px;
	font-size:18px;
	font-weight:normal;
}
.index-common-button img{
	padding-top:20px;
}
.index-button-short img{
	padding-left:35px;
}
.index-button-long img{
	padding-left:128px;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 78px;
	background: #032e3d;
	clear:both;
	z-index:1;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 78px;
	background: #032e3d;
	clear:both;
	}

.copyright{
	text-align:center;
	color:#02d1b1;	
	padding-top:30px;
}
.footer_bg{
	background-color:#032e3d;
	height:78px;
}
/*新建项目*/
/*a中字体通用性质*/

a{
	text-decoration: :none;
	font-size: 12px;
}
.leftside a img{
	padding-left: 10px;
	padding-top: 10px; 
}
.leftside a img{
	padding-left: 10px;
	padding-top: 10px; 
}
.tittle3{
	text-decoration: none;
	color:#032e3d;
	font-size: 18px;
	display: block;
	padding-left: 50px;
	margin-top: -30px
}
div.leftside{
	 background-color:#ffffff;
	 width:855px;
	 box-shadow:0px 0px 1px #053140;
	 float:left;
	 padding-bottom:20px;
	 min-height:746px;
}
.leftside{
	letter-spacing: 1px;
}
.leftside p{
	text-align:right;
	font-size: 12px;
	margin-right: 80px;
	margin-top:5px;
}
.leftside form{
	padding-left: 105px;
}
div.substance>div>form input.inputlist{
	font-size:18px;
	text-align: center;
	border:3px #3397d3 dotted;
	height:36px;
	width:622px;
	margin-right:105px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	margin-left: 50px;
}
div.substance>div>form label.xuhao{
	margin-left:25px;
}
.inputlist:focus{
    width:628px;
    height:42px;
	border:none;
	box-shadow: 0px 0px 2px #d2d2d2
}
.inputlist2{
	height:36px;
	width:546px;
	border:1px #3397d3 solid;
	text-indent:10px;
	font-size: 12px;
	margin-bottom: 12px;
	margin-left:5px;
	box-shadow: 0px 0px 1px #3397d3;
}
.inputlist2:focus{
	border:none;
    width:548px;
    height:40px;
	box-shadow: 0px 0px 1px #d2d2d2
}
div.leftside label{
	width:70px;
	font-size: 12px;
	letter-spacing:1px;
	text-align: right;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 20px;
}
.submit_button{
	background-color:#c9c9c9 ;
	width: 116px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #c9c9c9;
	letter-spacing: 3px;
	font-size: 18px;
	color: #01212c;
	box-shadow: 0px 0px 1px #d2d2d2;
	margin:auto;
	margin-top: 50px;
	display:block;

}
.submit_button:hover{
	background-color:#3eb7ff;
	color:#ffffff;
}
.button_orange:hover{
	background-color: #f09609;
}
.button_lightblue:hover{
	background-color: #02d1b1;
}
.button_red:hover{
	background-color:#ec31e1;
}
.button_green:hover{
	background-color:#94c949;
}
/*右侧背景*/
div.rightside{
	width:245px;
	height:766px;
	float:left;
	color:#032e3d;
	letter-spacing: 1px;
	font-size: 14px;
	background-color:#3397d3;
}

.rightside h3{
	font-size: 18px;
	color:#ffffff;
	padding-top:20px;
	padding-left:50px;
	padding-bottom:18px;
	font-weight: normal;
	letter-spacing: 3px;
}
.rightside>div{
	background-color:#ffffff;
	width:198px;
	height:54px;
	margin-bottom:10px;
	margin-left: 2px;
	text-indent: 10px;
	box-shadow: 0px 0px 2px #00394d;
}
div.plusline>a{
	color:#032e3d;
	text-decoration: none;
	display: block;
	padding-top: 20px;
	width:134px;
	text-align: center;	
}
div.menu>a{
	font-size: 14px;
	padding-top: 18px;
	width:180px;
	color:#032e3d;
	text-decoration: none;
	display: block;
	text-align: center;
}
.plusline{
	background-color: #ffffff;
	width:180px;
	height:54px;
}
.plus{
	padding-left: 75px;
	margin-top: -7px;
	float: left;
}
.rightside>img#tanhao{
	margin-left: 5px;
}
.rightside p{
	font-size: 12px;
	letter-spacing: 2px;
	color:#ffffff;
	margin-left: 35px;
	margin-top: -15px;
}
.rightside>div.menu>img{
	padding-top: 14px;
	margin-left: -17px;
	float:left;
}
.rightside>div.clicked{

}


/** Common Form Elements **/
div.radio-group{display:inline-block;height:25px;}
div.radio-group>input{
	display:block;
	float: left;
	height:25px;
	margin-top: 7px;
	display:none;
}
div.radio-group>label{
	width:auto;
	text-align:left;
	margin-left:5px;
	padding-left: 0px;
	margin-right:15px;
	margin-top:10px;
	display:block;
	float:left;
	height:25px;
	margin-bottom: 20px;
	background-image:url('./elements/label_unchecked.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 3px;
}
div.radio-group>label.checked{
	background-image:url('./elements/label_checked.png');
}


/*调休申请*/
form>input{
	font-size:12px;
	text-align: left;
	border:1px #3397d3 solid;
	height:36px;
	width:268px;
	text-indent:10px;
	letter-spacing: 1px;
	margin-bottom: 12px;
	box-shadow: 0px 0px 1px #3397d3;
	margin-left:5px;
}
form>p{
	padding-top: 25px;
}
form>span{
	text-align: left;
	font-size: 14px;
	display: block;
	margin-left: 16px;
	margin-top:10px;
}
form>a{
	display: block;
	padding-left: 125px;
	text-decoration: none;
	margin-top: -105px;
	color:#fd0404;
}
form>img{
	margin-left: 100px;
	padding-bottom: 90px;
}



/*请假申请*/
label#sky{
	width: 10px;
	text-align: left;
	padding-left: 0px;
	margin-bottom: 0px;
}
textarea.longbox{
	width:546px;
	height:72px;
	border: 1px #3397d3 solid;
	box-shadow: 0px 0px 1px #3397d3;
	margin-left:5px;
	padding-left:10px;
}
.substance .leftside form>a>img.tianjia{
;
	padding-left: 170px;
	margin-bottom: 50px;
	margin-top: 10px;
	display: block;
}
a#plusli{
	background-color: #ffffff;
	width:500px;
	height:108px;
	outline: 2px dotted #3397d3;
	display:block;
	margin-top:20px;
	margin-left:35px;
}

.down_list{
	list-style-type: none;
	background-color:white;
	color:#212121;
	float:left;
	padding-top:20px;
	padding-left:24px;
	padding-bottom:30;
	width:px;
	font-size:12px;
	letter-spacing:1px;	
}

/*下拉选择*/
div.check_down{
	width: 160px;
	height: 36px;
	border: 1px solid #02d1b1;
	box-shadow:0px 0px 1px #02d1b1;
}
div.check_down1{
	margin-top:24px;
	margin-left: 53px;
	margin-bottom: 15px;
}
div.check_down3{
	margin-top:48px;
	margin-left: 53px;
	margin-bottom: 15px;
}
div.check_down2{
	margin-top:-53px;
	margin-left: 225px;
}
div.check_down4{
	width: 180px;
}
div.check_downs{
	border: 1px solid #f09609;
	box-shadow:0px 0px 1px #f09609;
}
div.check_downg{
	border: 1px solid #ec31e1;
}
div.check_down a{
	text-decoration: none;
	color: #032E3C;
	font-size: 14px;
	padding-left: 20px;
	display: block;
	margin-top:-20px;
}
div.check_down a>img{
	margin-left:10px;
}
.down_list{
	list-style-type: none;
	background-color: white;
	color: #212121;
	margin-top: 20px;
	float: left;
	padding-top: 20px;
	padding-left: 24px;
	padding-bottom: 20;
	width: 135px;
	letter-spacing: 1px;
	border:1px solid #02d1b1;
}
table{
	 border-collapse:collapse;
	 border:1px solid #032e3d;
	 width:750px;
	 margin:auto;
	 text-align: center;
	 margin-top:3px;
	 color:#032e3d;
}
table th,table td{
	border:1px solid #032e3d;
	padding-top:10px;
	padding-bottom: 10px;
	font-size: 12px;
	color:#032e3d;
	letter-spacing: 2px;
}
table td a{
	text-decoration: none;
	font-size: 12px;
	color:#02d1b1;
}
div.rightside_tongji{
	background-color:#02d1b1;
}
div.rightside_zichan{
	background-color: #94c949
}
div.rightside_shenpi{
	background-color: #f09609;
}
div.rightside_gerenshiwu{
	background-color:#ec31e1;
}
.substance p{
	text-align:right;
	font-size: 12px;
	margin-right: 60px;
}
.imgcheck{
	padding-left: 30px;
}
.substance .leftside img{
	margin-top: -23;
	padding-left: 10px;
	padding-top:35px;
}
.substance .leftside span{
	font-size: 12px;
}
.substance .rightside span{
	display: block;
	padding-left: 55px;
	margin-top: -20px;
}
.tittle2{
	width:800px;
	padding-top:25px;
	padding-left:55px;
	text-align: center;
}
.tittle2>h2{
	font-size: 18px;
}
div.leftside input{
	height: 38px;
	width: 546px;
	border: 1px #02d1b1 solid;
	padding-left:10px;
	font-size: 12px;
	margin-top: 16px;
	position:relative;
	z-index: 1;
	box-shadow: 0px 0px 2px #02d1b1;
}
div.leftside div.searchbox{
	display: block;
	margin-top: -70px;
	margin-left: 255px;
	padding-bottom: 15px;
	width:550px;
	height:40px;
}
div.leftside div.searchbox input[type=submit]{
	float: right;
	margin-top: -33px;
	background-image:url("./elements/search_icon.png");
	border:none;
	background-repeat:no-repeat;
	text-indent:-9999999px;
	position:relative;
	z-index: 2;
	box-shadow: none;
	background-color:#ffffff;
	height:27px;
	width:27px;	
	margin-right: 10px;
}

.anxiangmu{
	margin-top: -40px;
	margin-left: 410px;
	text-decoration: 
}
.lead_box{
	width:120px;
}
.substance div>a.lead{
	text-decoration:none;
	font-size: 14px;
	margin-top: 24px;
	margin-left: 53px;
	border:4px solid #ec31e1;
	border-bottom-style: none;
	padding-left: 5px;
	padding-right: 5px;
	color:#032e3d;

}
.substance div>a.lead:hover{
	color:#ec31e1;
	background-image:url();
}
#notice_normal{
	margin-left: 205px;
	margin-top: -490px;
	background-color: #e6e7e7;
	position: relative;
	z-index:2;
	border-radius:5px;
	width: 534px;
	height:188px;
	box-shadow: 0px 0px 1px #053140;
}
#notice_normal span{
	display: block;
	padding-left: 15px;
}


body#bgimg{
	background-image: url(./elements/bg.png);
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	letter-spacing: 1px;
}
body#bgimg>div>div>p{
	padding-left: 10px;
	float: left;
}
body#bgimg>div>div>form{
	padding-left: 10px;
}
body#bgimg>div>div>form>div>a{
	display: block;
	text-decoration: none;
	padding-left: 130px;
	margin-top: -20px;
	color:#c9c9c9;
	font-size: 14px;
}
body#bgimg>div>div>form>div>a:hover{
	color:#3397d3;
}
#loginform input{
	border-radius: 3px;
	display:block;
	margin-bottom:0px;
}
.submit_loginbutton{
	background-color:#c9c9c9 ;
	width: 116px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	letter-spacing: 3px;
	font-size: 18px;
	color: #01212c;
	box-shadow: 0px 0px 1px #d2d2d2;
	display:block;
	margin-left: 5px
}
.submit_loginbutton:hover{
	background-color:#3397d3;
	color:#ffffff;
}
div.leftside>div.guiding{
	width:610px;
	height:318px;
	margin-top:40px;
	margin-left: 140px;
}
div.leftside>div.guiding>div{
	height:30px;
	padding-bottom: 20px;
	line-height: 24px;
}
div.leftside>div.guiding>div>p{
	text-align: left;
	margin-top: -20px;
	margin-left: 40px;
	font-size: 14px;
}



/*新添加*/
.basic_tablie{
    border-spacing: 2px;
    border-color: gray;
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.zonglan{
    padding-left:50px
}
h4{
    color: #02d1b1;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}
p.zonglanp{
    text-align: left;
    float:left;
}
.monthdata{
    float:left;
    width:316px;
    height:200px;
    background-color: #dddddd;
    border-radius:10px;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 5px;
}
p.zonglanp2{
    float:left;
    padding-left:95px;
    padding-top: 15px;
}
h5{
    margin-top: -45px;
    margin-bottom: 30px;
    display: inline-block;
    padding-top: 10px;
}
.substance .leftside img.monthdata_img{
    float:left;
    padding-right: 15px;
    margin-top:60px;
}
div.leftside{
    /**height:1400px;**/
}
div.rightside{
    height:1400px;
}
span.manworkertime{
    margin-top: -18px;
    display: block;
    padding-left: 40px;
}


/*报销申请新添加*/
.tablelist3{
    margin-left: 130px;
    margin-top: -35px;
    height:36px;
    width:546px;
    border:1px #3397d3 solid;
    text-indent:10px;
    font-size: 12px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 1px #3397d3;
}
.tablelist4{
    width:666px;
    margin-left: 40px;
    margin-top: 0;
}
div .leftside .tablelist3 input{
    border:0px;
    box-shadow: none;
    width:60px;
    margin-left:-10px;
    margin-top: 0;
}
div .leftside .tablelist3 input:focus{
    outline: none;
}
div.leftside>form>div>a>img:hover{
    opacity:0.5;
}
table .secondth{
    width:15%;
}
/**
ul.nav2 li{
	outline: 1px solid #3397d3;
	text-align: center;
	width:150px;
	list-style: none;
	box-shadow: 0px 0px 1px #3397d3;
	float:left;
	margin-right: 10px;
	background-color: #fffff3;
}
ul.nav2>li>a{
	text-decoration: none;
	color: #3397d3;
	margin-top:10px;
	line-height: 42px;
}
.substance .leftside ul.nav2>li>a>span{
	font-size: 18px;
}
**/

.qingjiashenpi td a{
    color:#f09609;
    padding-right: 5px;
    padding-left: 5px;
}
.qingjiashenpi td a:hover{
    color:#00394d;
}
.qingjiashenpi td input{
    border:0;
    box-shadow: none;
    width:150px;
}
.qingjiashenpi td input:focus{
    outline:none;
}
.zichangouzhi td a{
    color:#94c949;
}
.yonghuguanli td a{
    color:#02d1b1;
}
div.radio-groupgreen>label{
    background-image:url('./elements/label_uncheckedgreen.png');
}
div.radio-groupgreen>label.checked{
    background-image:url('./elements/label_checkedgreen.png');
}

/** Error Handling **/
div.error_wrapper{
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
div.error_wrapper h2{
    color:red;
}
div.error_wrapper div.error{
    padding-top:20px;
}

div.flash-message{
    width: 300px;
    position: fixed;
    z-index: 9999999999999;
    color: white;
    background-color: rgba(1,1,1,0.5);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    margin-left: -170px;
    margin-top:-95px;
    padding:20px;
    text-align: center;
}

/** Table **/

tr.green{
    background-color:green;
}
tr.green>td{
    color:white;
}
tr.red{
    background-color:red;
}